<h1>The Tech Blog</h1>
{{#each blogs}}
<section class="card">
    <a href="/blogs/{{id}}" class="card-body">
        <h3 class="card-title">{{title}}</h3>
        {{!-- format_date helps to just show MM/DD/YYYY --}}
        <h5>Posted by {{user.username}} on {{format_date createdAt}}</h5>
        <p class="card-text">{{content}}</p>
    </a>
</section>
{{/each}}